# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
.venv*/
venv/
env/

# PyCharm / JetBrains
.idea/
*.iml

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
*.7z
